<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conference Schedule</title>
  <link rel="stylesheet" href="/public/styles/display-schedule.css">
</head>
<body>
  <main>
    <div id="page-top">
      <h1>
        <span style="font-style: italic;letter-spacing: 0.13em;">C<span style="color:#FF9FA1">o</span>nf</span><span style="font-weight:lighter">Plus</span>
      </h1>
      <header>
        <nav>
          <ul>
            <li><a href="/templates/display-schedule.html">CONFERENCE SCHEDULE</a></li>
            <li><a href="../templates/login.html">LOGIN</a></li>
            <li><a href="/templates/submit-paper.html">SUBMIT PAPER</a></li>
            <li><a href="/templates/review-paper.html">REVIEW PAPER</a></li>
            <li><a href="/templates/manage-conference.html">MANAGE CONFERENCE</a></li>
          </ul>
        </nav>
        
  </header>
  </div>
  <div id="schedule">
    <h1 id="conf">
      CONFERENCE SCHEDULE
    </h1>
    <div id="schedule-container">
      <!-- Conference schedule will be displayed here -->
    </div>
  </div>
  <script src="/public/scripts/display-schedule.js"></script>
  </main>
</body>
</html>
