/* review-paper.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
main {
  display: grid;
  grid-template-rows: 0.4fr 2fr auto;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:'head head'
                      'papers form'
                      'papers form';
}

/*common part*/

header {
  background-color: #ecd4f5;
  padding: 1px;
  width: 100%;
  height:50%;
  display: flex;
}

#page-top {
  grid-area: head;
  background-color: #424874;
  height:78%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#page-top h1{
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0.4em auto 0.4em auto;
}

nav {
  flex: 1;
  margin: 0;
  width: 90em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 1.5em;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 3px solid #ecd4f5;
  border-radius: 1em;
  margin: 0.5em 0.5em;
  background-color: #EFEFFF;
  pointer-events: none;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
}

nav li a {
  color: #3d0066;
  text-decoration: none;
  margin: auto 3em auto 3em;
  font-size: 1.13em;
  pointer-events: auto;
  transition: color 0.13s linear;
}

nav li:hover{
  background-color: #FDE2F3;
  border: 3px solid #917FB3;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
}
nav ul li a:hover {
  color: #8e408a;
  transition: color 0.13s linear;
}
/*ends here */

h2 {
  text-align: center;
}

#assigned-papers {
  margin-top: 2em;
  margin-left: 2em;
  grid-area: papers;
  background-color: white;
  border: 3px solid #3d0066;
  border-radius: 2em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width:90%;
  margin-bottom: 2em;
}

#assigned-papers>* {
  text-align: center;
  margin: 1em auto 1em auto;
  color:#627888;
}

#assigned-papers a {
  text-decoration: none;
  color: #b799ee;
  font-weight: bold;
  transition: color 0.13s linear;
}

#assigned-papers a:hover {
  color: #7655b4;
  transition: color 0.13s linear;
}

#assigned-papers button {
  width: 13%;
}

#assigned-papers div {
  margin-top:3em;
}

#assigned-papers summary {
  margin-bottom: 1em;
  transition: color 0.13s linear;
}

#assigned-papers summary:hover {
  cursor:pointer;
  color:#917FB3;
  transition: color 0.13s linear;
}

#assigned-papers h1, #form h1{
  text-align: center;
  color:#3d0066;
  margin-top:0;
  padding-top:1em;
  padding-bottom: 1em;
  border-bottom: 3px solid #3d0066;
  border-radius:1em 1em 0 0;
  letter-spacing: 3px;
  font-weight: lighter;
}


#form {
  grid-area:form;  
  background-color: white;
  border: 3px solid #3d0066;
  border-radius: 2em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

#review-form {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  background-color: #3f51b5;
  border: none;
  border-radius: 3px;
  background-color: #845cce;
  border: 1px solid #845cce;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  font-size: 0.9em;
  letter-spacing: 3px;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
  transition: color 0.13s linear;
}

button:hover {
  background-color: #ece3fd;
  color: #b799ee;
  border: 1px solid #b799ee;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
  transition: color 0.13s linear;
}

form button {
  font-weight: lighter;
}

/* Responsive styles */

@media only screen and (max-width: 1065px) {
  
  main{
    grid-template-areas:'head head'
                        'papers papers'
                        'form form';
  }
  #form{
    margin: 1.31em;
  }
  #assigned-papers {
    margin: 3em auto;
  }
  #assigned-papers button{
    width:25%;
  }
  #review-form {
    max-width: 90%;
  }
  header {
    height:94%;
  }

  nav ul {
    flex-wrap:wrap;
  }
  nav ul li {
    margin: 0.5em 0.5em;
  }
}