<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
  <main>
    <div id="page-top">
      <h1>
        <span style="font-style: italic;letter-spacing: 0.13em;">C<span style="color:#FF9FA1">o</span>nf</span><span style="font-weight:lighter">Plus</span>
      </h1>
    </div>
    <div id="login">
    <h1>LOGIN</h1>
    <form id="login-form">
      <label for="email">Email</label>
      <input type="email" id="email" required>
      <br>
      <label for="password">Password</label>
    <input type="password" id="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  </div>
  </main>
  <script src="/public/scripts/login.js"></script>
</body>
</html>