/* manage-conference.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

main {
  display: grid;
  grid-template-rows: 0.4fr auto;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'head head'
    'schedule schedule';
}

/*common part*/

header {
  background-color: #ecd4f5;
  padding: 1px;
  width: 100%;
  height: 50%;
  display: flex;
}

#page-top {
  grid-area: head;
  background-color: #424874;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#page-top h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0.4em auto 0.4em auto;
}

nav {
  flex: 1;
  margin: 0;
  width: 90em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 1.5em;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 3px solid #ecd4f5;
  border-radius: 1em;
  margin: 0.5em 0.5em;
  background-color: #EFEFFF;
  pointer-events: none;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
}

nav li a {
  color: #3d0066;
  text-decoration: none;
  margin: auto 3em auto 3em;
  font-size: 1.13em;
  pointer-events: auto;
  transition: color 0.13s linear;
}
nav li:hover {
  background-color: #FDE2F3;
  border: 3px solid #917FB3;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
}
nav ul li a:hover {
  color: #8e408a;
  transition: color 0.13s linear;
}

/*ends here */

#content {
  grid-area: schedule;
  background-color: white;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 4em;
  border: 3px solid #3d0066;
  margin-bottom: 2em;
}

#schedule-editor h1 {
  text-align: center;
  color: #3d0066;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 3px solid #3d0066;
  border-radius: 1em 1em 0 0;
  letter-spacing: 3px;
  font-weight: lighter;
}
h2 {
  text-align: center;
  color: #3d0066;
  margin-top: 0;
  letter-spacing: 3px;
  font-weight: lighter;
}


#conference-schedule {
  max-width: 1200px;
  margin: 0 auto;
}

#session-form {
  max-width: 350px;
  margin: 20px auto;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}

input,
select {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #845cce;
  border: 1px solid #845cce;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  font-size: 0.9em;
  letter-spacing: 3px;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
  transition: color 0.13s linear;
}

button:hover {
  background-color: #ece3fd;
  color: #b799ee;
  border: 1px solid #b799ee;
  transition: background-color 0.13s linear;
  transition: border 0.13s linear;
  transition: color 0.13s linear;
}
 
/* Media Queries */

/* For screen sizes between 768px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1065px) {
  header {
    height: 77%;
  }
  
  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    margin: 0.5em 0.5em;
  }
  
  #session-form {
    max-width: none;
    width: 80%;
  }
}